.accordion {
    margin-bottom: 30px;
    background: rgb(204,204,204);
    background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 2px 2px black, 2px 0 2px black,
    0 -2px 2px black, -2px 0 2px black;
}

.accordion {
    -webkit-animation: fadein 1s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s ease-in-out; /* Firefox < 16 */
    -o-animation: fadein 1s ease-in-out; /* Opera < 12.1 */
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    from { transform: translateX(-1200px) }
    to   { transform: translateX(0px) }
}
