.app-footer {
  background-color: #343a40;
  color: #ffffff;
  height: auto;
  position: absolute;
  margin-top: 100px;
}


.app-footer-content {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map {

}
